*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}


/* Default Styles */
.container{
    width: 80%;
    margin: 0px auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* Default Styles */

/* Header Start */
header{
    background-color: #750DB5;
    color: #ffffff;
    padding: 20px 0px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper h4{
    font-size: 24px;
}

.header-wrapper ul{
    display: flex;
    gap: 50px;
}

.header-wrapper ul li a{
    color: #ffffff;
}

/* Header End */

/* Banner Start */
.banner-wrapper{
    display: flex;
    align-items: center;
    padding: 100px 0px;
}

.banner-wrapper > div{
    width: 50%;
}

.banner-wrapper img{
    width: 100%;
}

.banner-wrapper h1{
    font-size: 38px;
    margin-bottom: 20px;
}

.banner-wrapper h1 > span{
    font-weight: 600;
    margin-bottom: 15px;
}

.banner-wrapper h1 > span:last-child span{
    color: #750DB5;
}

.banner-wrapper p{
    width: 70%;
    line-height: 2;
    margin-bottom: 20px;
}

.banner-wrapper > div:first-child > div {
   display: flex;
   align-items: center;
   gap: 50px;
}

.banner-wrapper > div:first-child > div a:first-child{
    background-color: #FFA92C;
    padding: 15px 35px;
    color: #ffffff;
    border-radius: 12px;
    transition: all 1s;
}

.banner-wrapper > div:first-child > div a:first-child:hover{
     /* x, y , blur, spread, color */
     box-shadow: 2px 2px 8px 1px #FFA92C;  
}

.banner-wrapper > div:first-child > div a:last-child{
    color: #111111;
}


/* Banner End */

/* The Jobs Start */
.the-jobs{
    padding: 80px 0px;
}
.the-jobs h2{
    margin-bottom: 25px;
    font-size: 35px;
    font-weight: 600;
}

.the-jobs-wrapper{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.the-jobs-wrapper>div{
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}

.the-jobs-wrapper>div>img{
    margin-bottom: 10px;
}

.the-jobs-wrapper>div>span{
  margin: 10px 0px;
  display: inline-block;
}

.the-jobs-wrapper>div>p{
    margin-bottom: 15px;
}

.the-jobs-wrapper>div:first-child{
    background-color: #0C445C;
}
.the-jobs-wrapper>div:nth-child(2){
    background-color: #5B2C98;
}
.the-jobs-wrapper>div:last-child{
    background-color: #7F3219;
}

.the-jobs-wrapper h4{
    font-size: 22px;
}

.the-jobs-wrapper>div>div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.the-jobs-wrapper>div>div a{
    color: #ffffff;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 12px;
    background-color: transparent;
    transition: all 0.30s;
}

.the-jobs-wrapper>div>div a:hover{
    background-color: #FFA92C;
    color: #111111;
}

/* The Jobs End */


/* footer start */
footer{
    padding: 20px 0px;
    text-align: center;
    background-color: #D6D6D6;
    color: #4254F4;
}
/* footer end */

/* Responsive Start */
@media only screen and (min-width: 1200px){
    .banner-wrapper h1{
        font-size: 48px;
    }
    .banner-wrapper h1 > span{
        display: block;
    }
    .the-jobs-wrapper h4{
        font-size: 28px;
    }
    .the-jobs-wrapper>div>div{
        gap: 20px;
    }
    .the-jobs-wrapper>div>div a{
        padding: 10px;
    }
}

@media only screen and (max-width: 992px){
    .header-wrapper,
    .banner-wrapper{
        flex-direction: column;
    }
    .banner-wrapper>div,
    .banner-wrapper p{
        width: 100%;
        text-align: center;
    }
    .banner-wrapper > div:first-child > div{
        justify-content: center;
        margin-bottom: 30px;
    }
    .the-jobs-wrapper>div:first-child,
    .the-jobs-wrapper>div:nth-child(2) {
        width: 45%;
    }
    .the-jobs-wrapper>div:last-child {
        width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .the-jobs-wrapper>div:first-child,
    .the-jobs-wrapper>div:nth-child(2),
    .the-jobs-wrapper>div:last-child {
        width: 100%;
    }
}
/* Responsive End */